# dependencies
node_modules/

# build output
dist/
build/
.vite/

# env files
.env
.env.local
.env.*.local

# test/coverage
coverage/

# logs
*.log
npm-debug.log*

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# netlify
.netlify/
